.chatlogo {
    display:block; /*To get the logo in the center of the page */
    margin: auto;
    height: 50px;
    width: 50px;;
}

.container {
    max-width:955px;
    border: 2px solid black ;
    padding:36px;
    overflow-y: auto; /* for scrolling the chat from the Y cordiunate*/
    margin-bottom: 23px;
    margin:auto;
    height:70vh;/* If we dont have any messages than also we need a hight for the contianer*/
}

.message {
 background-color:grey;
 width: 25%;
 padding:10px;
 margin:17px 12px;
 border:2px solid black;
 border-radius: 15px;
}

.left{
    float:left;
    clear:both;

}

.right{
    float:right;
    clear:both;
}

#send-container{
    display:block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}

#msginput{
    width:92%;
    border:2px solid black;
    border-radius:6px;
    height: 34px;
}

.btn{
    border:2px solid black;
    cursor:pointer;
    border-radius: 6px;
    height:34px;
}
body {
    height:100vh;
    background-image: linear-gradient(rgb(134, 137, 167),rgb(210, 107, 220));

}